.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.item{
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    flex: auto;
}